<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('message', function (msg) {
                var p = document.createElement('p');
                p.innerHTML = msg;
                document.getElementById('chat').appendChild(p);
            });
            document.getElementById('send').onclick = function () {
                var messageInput = document.getElementById('message');
                var message = messageInput.value;
                socket.send(message);
                messageInput.value = '';
            };
        });
    </script>
</head>

<body>
    <input id="message" type="text" placeholder="Enter your message">
    <button id="send">Send</button>
    <div id="chat"></div>
</body>

</html>